<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSeeker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FileSeeker.Properties.Settings>
            <setting name="SearchFor" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="ReplaceWith" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchPattern" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Recursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRegularExpressions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedEncoding" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleValues" serializeAs="String">
                <value>False</value>
            </setting>
        </FileSeeker.Properties.Settings>
    </userSettings>
</configuration>